.detail-box{
 display:  flex;
 flex-direction: column;
}
.box-content{
    background-color: rgb(123, 131, 138);
    border-radius: 20px;
}
.btn-mua{
    border: none;
    width: 100%;
    background-color: greenyellow;
    border-radius: 10px;
}
.btn-box{
    width: 50%;
    height: 45px;
}